/* * {
    font-family: "Poppins" !important;} */
#footer{
    background: linear-gradient(91.82deg, #70AFCD -29.62%, #6364DA 36.48%, #5F34E1 100%);
    color: #FFFFFF;
}
#footer .content{
    padding: 50px 0;
}
#footer .content .main h1,
#footer .content .left h1{
    font-family: sans-serif;
    font-weight: 700;
    font-size: 30px;
}
#footer .content .left p{
    font-family: sans-serif;
    font-weight: 400;
    font-size: 20px;
}
#footer .content .main ul {
    padding: 0;
}
#footer .content .main ul li a{
    font-family: sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
} 
#footer .content .right h1{
    font-family: sans-serif;
    font-weight: 700;
    font-size: 25px;
}
#footer .content .right a{
    color: #FFFFFF;
    padding-right: 20px;
}
.icon:hover{
    color: #6364DA;
    background-color: #FFFFFF;
    transition: 0.6s;
}
.icon{
    font-size: 30px !important;
    border-radius: 10px;
}
@media screen and (max-width: 1200px){
    #footer .content{
        padding: 35px 0;
    }
    #footer .content .main h1,
    #footer .content .left h1{
        font-size: 28px;
    }
    #footer .content .left p{
        font-size: 18px;
    }
    #footer .content .main ul li a{
        font-size: 18px;
    } 
    #footer .content .right h1{
        font-size: 22px;
    }
}
@media screen and (max-width: 992px){
    #footer .content{
        padding: 25px 0;
    }
    #footer .content .main h1,
    #footer .content .left h1{
        font-size: 22px;
    }
    #footer .content .left p{
        font-size: 16px;
    }
    #footer .content .main ul li a{
        font-size: 16px;
    } 
    #footer .content .right h1{
        font-size: 18px;
    }
    #footer .content .right a{
        padding-right: 10px;
    }
    .icon{
        font-size: 25px !important;
        border-radius: 8px;
    }
}
@media screen and (max-width: 768px){
    #footer .content{
        padding: 15px 0;
    }
    #footer .content .main h1,
    #footer .content .left h1{
        font-size: 18px;
        margin: 5px 0;
    }
    #footer .content .left p{
        font-size: 13px;
    }
    #footer .content .main ul li a{
        font-size: 13px;
    } 
    #footer .content .right h1{
        font-size: 15px;
        margin: 8px 0;
    }
    #footer .content .right a{
        padding-right: 8px;
    }
    .icon{
        font-size: 21px !important;
        border-radius: 5px;
    }
}
@media screen and (max-width: 576px){
    #footer .content{
        padding: 15px 0;
    }
    #footer .content .main h1,
    #footer .content .left h1{
        font-size: 13px;
    }
    #footer .content .left p{
        font-size: 11px;
    }
    #footer .content .main ul li a{
        font-size: 11px;
    } 
    #footer .content .right h1{
        font-size: 10px;
        margin: 8px 0;
    }
    #footer .content .right a{
        padding-right: 5px;
    }
    .icon{
        font-size: 17px !important;
    }
}
@media screen and (max-width: 320px){
    #footer .content{
        padding: 15px 0;
    }
    #footer .content .main h1,
    #footer .content .left h1{
        font-size: 11px;
    }
    #footer .content .left p{
        font-size: 9px;
    }
    #footer .content .main ul li a{
        font-size: 10px;
    } 
    #footer .content .right h1{
        font-size: 9px;
        margin: 8px 0;
    }
    #footer .content .right a{
        padding-right: 5px;
    }
    .icon{
        font-size: 15px !important;
    }
}